<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327800571447-hdgpf4oef0ak57lq2iteltpkfs2s71uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327800571447-hdgpf4oef0ak57lq2iteltpkfs2s71uj</string>
	<key>API_KEY</key>
	<string>AIzaSyAWaw-EMLQz9fYpgT5TwJjxLSXeBm33VgA</string>
	<key>GCM_SENDER_ID</key>
	<string>327800571447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.eatsleeptravel</string>
	<key>PROJECT_ID</key>
	<string>eatsleeptravel-92110</string>
	<key>STORAGE_BUCKET</key>
	<string>eatsleeptravel-92110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327800571447:ios:e008b1e0f1e56d207f21b2</string>
	<key>DATABASE_URL</key>
	<string>https://eatsleeptravel-92110.firebaseio.com</string>
</dict>
</plist>